/* font */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-default: 'GmarketSansMedium', BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

html,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: $font-default, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: $font-default;
}

@mixin flex-layout {
  display: flex;
  flex-direction: column;
}

@mixin button-default {
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
}

#root {
  @include flex-layout;
  justify-content: center;
  background: linear-gradient(#fdf8e0, #ece4ff);
}

#main-todos {
  max-width: 500px;
  width: 50%;
  height: 80%;
  margin: auto;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  @include flex-layout;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 3px 8px 0 rgba(66, 66, 66, 0.37);

  header {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    color: #ffffff;
    animation: sparkle 1s infinite alternate;
  }

  @keyframes sparkle {
    from {
      text-shadow: 0 0 20px #fff3df, 0 0 20px #ffdfd3, 0 0 20px #fde2cb, 0 0 20px #fcf0d9;
    }
    to {
      text-shadow: 0 0 20px #e5d5ff, 0 0 20px #bcb9fd, 0 0 30px #e2dbff, 0 0 30px #d1d4ff;
    }
  }

  .todo-list {
    height: 80%;
    text-align: left;
    padding: 20px;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;

      .checkbox {
        width: 10px;
        height: 10px;
        border: 1px solid grey;
        border-radius: 3px;
        margin-right: 5px;
      }

      .text {
        flex-grow: 1;
        margin-right: 10px;
        color: #484848;
        font-size: large;
      }

      button {
        @include button-default;
        color: #ab0000;
      }
    }
  }

  .todo-new {
    height: 10%;
    width: 100%;
    border-top: 1px dashed #8672a2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      margin-right: 10px;
    }

    input {
      flex-grow: 1;
      margin-right: 10px;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
    }

    button {
      @include button-default;
    }

    button:focus-visible {
      outline: none;
    }
  }
}

.modal {
  top: 40%;
  border: none;
  border-radius: 6px;
  padding: 0.3rem 1.5rem;
  width: 20rem;
  max-width: 90%;
  z-index: 10;
  text-align: center;

  button {
    border: none;
    border-radius: 5px;
    padding: 7px 10px 5px;
    font-size: large;
    background-color: #6a48ab;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: #3b1c75;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
