/* font */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "GmarketSansMedium", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: "GmarketSansMedium", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#fdf8e0, #ece4ff);
}

#main-todos {
  max-width: 500px;
  width: 50%;
  height: 80%;
  margin: auto;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 3px 8px 0 rgba(66, 66, 66, 0.37);
}
#main-todos header {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: xx-large;
  font-weight: bold;
  color: #ffffff;
  animation: sparkle 1s infinite alternate;
}
@keyframes sparkle {
  from {
    text-shadow: 0 0 20px #fff3df, 0 0 20px #ffdfd3, 0 0 20px #fde2cb, 0 0 20px #fcf0d9;
  }
  to {
    text-shadow: 0 0 20px #e5d5ff, 0 0 20px #bcb9fd, 0 0 30px #e2dbff, 0 0 30px #d1d4ff;
  }
}
#main-todos .todo-list {
  height: 80%;
  text-align: left;
  padding: 20px;
}
#main-todos .todo-list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
#main-todos .todo-list li .checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: 5px;
}
#main-todos .todo-list li .text {
  flex-grow: 1;
  margin-right: 10px;
  color: #484848;
  font-size: large;
}
#main-todos .todo-list li button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  color: #ab0000;
}
#main-todos .todo-new {
  height: 10%;
  width: 100%;
  border-top: 1px dashed #8672a2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-todos .todo-new label {
  margin-right: 10px;
}
#main-todos .todo-new input {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
#main-todos .todo-new button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
#main-todos .todo-new button:focus-visible {
  outline: none;
}

.modal {
  top: 40%;
  border: none;
  border-radius: 6px;
  padding: 0.3rem 1.5rem;
  width: 20rem;
  max-width: 90%;
  z-index: 10;
  text-align: center;
}
.modal .confirm-button {
  border: none;
  border-radius: 5px;
  padding: 7px 10px 5px;
  font-size: large;
  color: white;
  cursor: pointer;
  background-color: #6a48ab;
}
.modal .confirm-button:hover {
  background-color: #3b1c75;
}
.modal .cancel-button {
  border: none;
  border-radius: 5px;
  padding: 7px 10px 5px;
  font-size: large;
  color: white;
  cursor: pointer;
  background-color: #3085d6;
}
.modal .cancel-button:hover {
  background-color: #203eb9;
}
.modal .delete-button {
  border: none;
  border-radius: 5px;
  padding: 7px 10px 5px;
  font-size: large;
  color: white;
  cursor: pointer;
  background-color: #d33;
}
.modal .delete-button:hover {
  background-color: #8a0d0d;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

/*# sourceMappingURL=main.css.map */
